// color
$primary: #b45309;
$secondary: #fffbeb;
$white: #ffffff;
$black: #000000;
$gray: #9ca3af;
$background: #f7f7f7;
$placeholder: #9ca3af;

// main
$screen-width: 375px;

// header
$header-height: 62px;
$header-shadow: 0px 4px 10px 0px #00000026;

// button
$button-shadow: 0px 0px 4px 0px #00000040;

// input
$input-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
