@import "styles/variables";

.header {
  position: relative;
  background: $secondary;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $header-shadow;
  &-back-button {
    position: absolute;
    left: 1.5rem;
    cursor: pointer;
    min-width: 44px;
    min-height: 44px;
    display: flex;
    align-items: center;
  }
  &-title {
    font-family: "Rye";
    text-transform: uppercase;
    color: $primary;
    font-size: 24px;
  }
}
